body {
  background: rgba(49,74,95, 1);
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }

h1 {
  margin: 0;
}

//overriddes
.footer{
  padding: 2em 1em;
  color: black;
}

.text-center {
  text-align: center;
}

.btn {
  background: rgba(255,255,255,1);
}

.btn:hover{
  background: rgba(166, 126, 91, 1);
}

a {
  color: rgba(217,171,115,1);
  line-height: 2;
}

a:hover{
  color: rgba(242,205,136,1);
}

.main-text  {
  color: #FFFFFF;
}

// header
.header  {
  height: 2em;
  padding-top: 1%;
  white-space: nowrap;
}

.header-image {
  max-height: 1.5em;
  margin-left: .5em;
  vertical-align: bottom;
}

// search
.searchbar {
  margin-bottom: 5%;
}

.search-results  {
  margin: 0 auto;
}

.search-div {
  //min-height: 430px;
  //margin: 1%;
  margin-bottom: 2%;
  //box-shadow:  0 0 5px rgba(255,255,255,0.5);
}

.search-div:nth-child(3n+4){
  clear:both;
}

.search-image{
  min-height: 300px;
  max-height: 300px;
}

input:focus, input:hover{
    border-color: #5A9FC8;
    box-shadow: 0 0 10px rgba(0,0,255,0.2);
}

//detail
.flexy{
  display: flex;
  justify-content: center;
}

.detail-div{
  padding: 5%;
}

.detail-img{
  margin-top: 3%;
}

.grid{
  display: flex;
  flex-flow: row wrap;
}

.grid > * {
  flex-basis: 10em;
  flex-grow: 1;
}

@media only screen and (min-width: 640px)  {
  .detail-div{
    padding: 5%;
    padding-right: 15%;
    padding-left: 15%;
  }
}